<h1>ForumThreads#show</h1>

<h2><%= @forum_thread.subject %></h2>
<p>Created by <%= @forum_thread.user.email %></p>
<hr>
<% @forum_thread.forum_posts.each do |f| %>
  <p>Posted by <%= f.user.email %></p>
  <p><%= f.body %></p>
<% end %>
